[user]
	name = ank4ibm
	email = ankarao.kasaragadda@gmail.com
	mail = karaolinux@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
